<?xml version="1.0"?>
<configuration>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpModules>
      <add name="DomainLocation" type="OAuth2Client.Common.DomainLocation, OAuth2Client.Common"/>
    </httpModules>
    <httpRuntime maxRequestLength="1024000" requestValidationMode="2.0"/>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.5"/>
    <!--如果程序已经在本地调试成功，则上传至服务器后将debug改为false-->
    <authentication mode="Windows"/>
    <pages validateRequest="false" enableSessionState="true" enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <!--8位字符-->
    <add key="OAuth2Client:StaticKey" value="A1@Q#W%E"/>
    <add key="OAuth2Client:WebDomain" value="oauth2client.net"/>
  </appSettings>
</configuration>