*.suo
Code/MyBackEndExercise/MyIbatisNet/MyIbatisNet.Dao/obj/
Code/MyBackEndExercise/MyIbatisNet/MyIbatisNet.Domain/obj/
Code/MyBackEndExercise/MyIbatisNet/MyIbatisNet.Domain/bin/
Code/MyBackEndExercise/MyIbatisNet/MyIbatisNet.FunctionTests/bin/
Code/MyBackEndExercise/MyIbatisNet/MyIbatisNet.FunctionTests/obj/
Code/MyBackEndExercise/UnitTestProject1/obj/
Code/MyBackEndExercise/TestResults/
Code/MyBackEndExercise/MyDapper/MyDapper.Business/bin/
Code/MyBackEndExercise/MyDapper/MyDapper.Business/obj/
Code/MyBackEndExercise/MyDapper/MyDapper.FunctionTests/bin/
Code/MyBackEndExercise/MyDapper/MyDapper.FunctionTests/obj/
