<?xml version="1.0" encoding="utf-8"?>
<Apps>
  <App>
    <Code>qq</Code>
    <!--要小写-->
    <Enabled>1</Enabled>
    <AppId></AppId>
    <AppKey>101232236</AppKey>
    <AppSecret>df20ed4d2abcd56b8ef003f3c7bb6e0b</AppSecret>
    <CallbackUrl>http://oauth2client.net/oauth2.0/qq.aspx</CallbackUrl>
  </App>
  <App>
    <Code>weibo</Code>
    <!--要小写-->
    <Enabled>1</Enabled>
    <AppId></AppId>
    <AppKey>1250022182</AppKey>
    <AppSecret>35be393fd77748a17bd8d73f3b256037</AppSecret>
    <CallbackUrl>http://oauth2client.net/oauth2.0/weibo.aspx</CallbackUrl>
  </App>

  <App>
    <Code>weixin</Code>
    <!--要小写-->
    <Enabled>1</Enabled>
    <AppId>wx6669e231bffa123f</AppId>
    <AppKey>wx6669e231bffa123f</AppKey>
    <AppSecret>9d693f7a81236c123464281115p78445</AppSecret>
    <Token></Token>
    <CallbackUrl>http://oauth2client.net/oauth2.0/weixin.aspx</CallbackUrl>
  </App>
  <App>
    <Code>baidu</Code>
    <!--要小写-->
    <Enabled>1</Enabled>
    <AppId>6473327</AppId>
    <AppKey>6jNj1po5ahN3coFsKVlNnjjL</AppKey>
    <AppSecret>WHzcIirDklF5MMxNy6nvZi8XD1ulRGPS</AppSecret>
    <CallbackUrl>http://oauth2client.net/oauth2.0/baidu.aspx</CallbackUrl>
    <!--<CallbackUrl>https://openapi.baidu.com/oauth/2.0/authorize</CallbackUrl>-->
    
  </App>
  <App>
    <Code>taobao</Code>
    <!--要小写-->
    <Enabled>1</Enabled>
    <AppId></AppId>
    <AppKey>23130607</AppKey>
    <AppSecret>c6470c477c724fecfbb7b75daa27b7ca</AppSecret>
    <CallbackUrl>http://oauth2client.net/oauth2.0/taobao.aspx</CallbackUrl>
  </App>
  <App>
    <Code>renren</Code>
    <!--要小写-->
    <Enabled>1</Enabled>
    <AppId>477151</AppId>
    <AppKey>f9dd2ad70c764830a93acba9513ba85e</AppKey>
    <AppSecret>dda776b1ffab4e0999b6b434bd013fe7</AppSecret>
    <CallbackUrl>http://oauth2client.net/oauth2.0/renren.aspx</CallbackUrl>
  </App>
  <App>
    <Code>jd</Code>
    <!--要小写-->
    <Enabled>1</Enabled>
    <AppId></AppId>
    <AppKey>15056EB1D95CA61DB8B600CD70CF600E</AppKey>
    <AppSecret>e16866ee9be74ce2a148c7445ecf2a6d</AppSecret>
    <CallbackUrl>http://oauth2client.net/oauth2.0/jd.aspx</CallbackUrl>
  </App>

  <App>
    <Code>jumbot</Code>
    <!--要小写-->
    <Enabled>1</Enabled>
    <AppId></AppId>
    <AppKey>10010101</AppKey>
    <AppSecret>f2fed6cc718f32c25ababd0db7328d7d</AppSecret>
    <CallbackUrl>http://oauth2client.net/oauth2.0/jumbot.aspx</CallbackUrl>
  </App>


</Apps>