<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SportStoreDB" connectionString="Server=.\SQLEXPRESS2014;Database=SportStore;uid=sa;pwd=1q2w3e4R;"/>
    <add name="LotteryDB" connectionString="Server=192.168.21.28,2433;Database=HJ_MKT;uid=class_coder;pwd=D64D@6B2A;"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
